body {
  background: #F5F7FB;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
text-align: center;  
/* Whatever width you want */
}

h1 {
font-family: 'Karla', 'sans-serif';
font-style: normal;
font-weight: bold;
font-size: 31.25px;
line-height: 37px;
text-align: center;
margin-bottom: -10px;
color: #293264;
}

h3 {

  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #293264;

}

.start-btn {
  width: 193px;
height: 52px;
left: 179px;
top: 314px;
color: white;

background: #4D5B9E;
border-radius: 15px;
}

.blob1 {
  float: right;
  margin-top: -160px;
}

.blob2 {
  margin-bottom: -350px;
}